<!doctype html>
<html>
  <head>
    <title>Esqueceu sua senha?</title>
  </head>
  <body>
    <p>Olá!</p>
    <p>Recebemos sua solicitação para redefinir a senha da sua conta no aplicativo da AllPetSenior.
Para seguir com o processo, é só clicar no link abaixo e criar uma nova senha:</p>

 <p>&#128073; <a href="{{ link_forgot_password }}">Redefinir Senha</a></p>
 <p>
Se você não fez essa solicitação, não se preocupe — é só desconsiderar este e-mail. Sua senha continuará a mesma.
Em caso de dúvidas ou se precisar de ajuda, estamos à disposição no <a href="mailto:suporte@allpetsenior.com" target="_blank">suporte@allpetsenior.com</a></p>
 <p>Atenciosamente,</p>
 <p>Equipe AllPetSenior &#128062;</p>
    </p>
  </body>
</html>
